*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-ui{
    width: 414px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 8px;
}
.display-ui{
    height: 250px;
    width: 100%;
}
.buttons-ui{
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
}
.row{
    width: 100%;
}
.function-row2{
    margin-bottom: 2.5rem;
}
.buttons-ui button{
    background-color: rgb(43, 41, 41);
    border: none;
    width:24% ;
    height: 100px;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}
#yellow-btn{
    background-color: rgb(255, 174, 0);
}
#gray-btn{
    background-color: gray;
}