*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-weight: 600;

}
body{
    height: 100vh;
    width: 100vw;
    font-size: 1rem;
}
body, .calc-ui, .rows, .buttons-ui{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-ui{
    width: 20%;
    height: 500px;
    flex-direction: column;
}
.display-ui{
    border-top: 30px solid rgb(31, 29, 29);
    border-left: 20px solid rgb(31, 29, 29);
    border-right:20px solid rgb(31, 29, 29) ;
    border-bottom: 20px solid rgb(31, 29, 29);
    width: 100%;
    height: 30%;
    background-color: rgb(114, 114, 113);
    border-radius: 10px 10px 0px 0px;
    padding: 20px 10px;
    font-size: 35px;
    font-weight: 900;
    text-align: end;
}
.buttons-ui{
    border: 10px solid rgb(99, 70, 70);
    background-color: rgb(114, 114, 113);
    width: 100%;
    height: 70%;
    gap: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius:0px 0px 10px 10px;
}

.rows{
    width: 100%;
    gap: 10px;
}
button{
    width: 20%;
    height: 48px;
    box-shadow: 0px 5px 2px 0px black;
    cursor: pointer;
    border-radius: 5px;
    
}
button:active{
    box-shadow:0px 0px 2px 0px black ;
}